body{
  background-image:url('https://www.xmple.com/wallpaper/red-honeycomb-black-hexagon-beehive-2160x3840-c2-000000-8b0000-l2-33-412-a-0-f-5.svg');
  }
.App{
  background-color:white;
  color:white;
}
h6{
  text-align:left;
  padding:25px;
}
.jumbotron{
  border-radius:0;
  background-image:url('https://lh3.googleusercontent.com/C6rdpXRR9NQVSwGwQYEZmf3O7rO6F8N7XKdN825SYEPNiJXOzD8sVU4wWGbihYRD6Q=h900');
}
.AppHeader{	
  background-color: #013243;
  height:100px;
  color:#FFFFFF;
  text-align:center;
}
.Search{
  display:grid;
  color:black;
  text-align:left;
  gris-template-columns: 1fr 2fr;
}
label{
  min-width:200px;
  margin:0 20px;
}
#symptomsList{
 text-align:left;
 grid-column:1/2;
 font-size:.75em;
}
#symptomsList input{
  opacity:1;
  cursor:pointer;
}

#results{
 grid-column:3;
 font-size:2em;
 text-align:center;
}

